<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!--connection properties-->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:10000/insurance_db</property>
    <property name="hibernate.connection.username">fraud</property>
    <property name="hibernate.connection.password">fraud_pw</property>
    <!--connection configs-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <!--mapping configs-->
    <mapping class="domain.AcceptancePolicy"/>
    <mapping class="domain.Accident"/>
    <mapping class="domain.Adjust"/>
    <mapping class="domain.Contract"/>
    <mapping class="domain.Customer"/>
    <mapping class="domain.Dispatch"/>
    <mapping class="domain.User"/>
    <mapping class="domain.Insurance"/>
    <mapping class="domain.Underwriting"/>
    <mapping class="domain.Transaction"/>
    <mapping class="domain.InsuranceCompany"/>
  </session-factory>
</hibernate-configuration>
